//
//  Config.xcconfig
//  StringFramework
//
//  Created by G Keerthika Priya on 01/07/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
@@ -0,0 +1,59 @@
@@ -1,58 +0,0 @@
<?xml version="1.0" encoding="UTF-8"?>
<Scheme
   LastUpgradeVersion = "1100"
   version = "1.3">
   
